{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  <li style="display: inline-block; font-size: 20px; font-family: sans-serif;">
    Меня зовут Рустам. Пытаюсь учиться на программиста. Это я:
  </li>
</p>
<p>
  <img src="https://sun9-15.userapi.com/impf/c622730/v622730563/19617/Fd2HADYyFYg.jpg?size=1152x2048&quality=96&sign=56296edfb7ad5a5f6c702ff108ab6e11&type=album" width="500"height="800"class="d-inline-block align-top"alt=""> 
</p> 
<p> <li style="display: inline-block; font-size: 20px; font-family: sans-serif;">
  <li class="nav-item"> 
    <a class="nav-link" href="https://github.com/RustamM2022"> Моя страница на Github</a>
  </li>
</li>
<p>
<body>
    <header>
    <link rel="icon" href="img/fav/fav.ico" type="image">
    </header>
</body>
{% endblock %} 